* {
    box-sizing: border-box;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: #262626;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #262626;
    flex-direction: column;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.back-button {
    background-color: #262626;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 30px;
}

.back-button:hover {
    background-color: #3d3d3d;
    color: white;
}

.container {
    width: 100%;
    max-width: 1200px;  /* Adjust to fit your design */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-card {
    background-color: #373838;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px #8a8a8a, 0 0 20px #8a8a8a, 0 0 40px #8a8a8a;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;  /* Center content horizontally */
}

.character-card:hover {
    animation: neon-effect 4s infinite alternate ease;
}

@keyframes neon-effect {
    0% {
        box-shadow: 0 0 5px #878787, 0 0 10px #878787, 0 0 20px #878787;
    }

    25% {
        box-shadow: 0 0 5px #6d6d6d, 0 0 10px #6d6d6d, 0 0 20px #6d6d6d;
    }

    50% {
        box-shadow: 0 0 5px #808080, 0 0 10px #808080, 0 0 20px #808080;
    }

    75% {
        box-shadow: 0 0 5px #606060, 0 0 10px #606060, 0 0 20px #606060;
    }

    100% {
        box-shadow: 0 0 5px #8A8A8A, 0 0 10px #8A8A8A, 0 0 20px #8A8A8A;
    }
}

.description {
    padding: 10px;
    color: gray;
    flex: 1;
}

.image-container {
    width: 100%;
    height: 100%;
    max-width: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 576px) {
    .character-card {
        flex-direction: column;
        justify-content: center;  /* Ensure column direction is centered */
        align-items: center;  /* Ensure center alignment */
    }

    .description {
        margin-top: 20px;
        padding: 10px;
        text-align: center;  /* Center the text on smaller screens */
    }

    .image-container {
        width: 100%;
        margin-left: 0;
    }

    .description p {
        font-size: 13px;
    }

    .description span {
        font-size: 12px;
    }
}
